/* add 'position: sticky;' to <ul> to create a sticky navbar.
    A sticky element toggles between relative and fixed, depending on the scroll
    position. It is positioned relative until a given offset position is met in 
    the viewport - then it "sticks" in place(like position:fixed).
*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* When position is set to sticky, the top property behaves like its position is
  relative when the element is inside the viewport, and like its position is fixed
  when it is outside.
  you must also specify at least one of top, right, bottom, or left for sticky
  positioning to work. */
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li a.active {
  background-color: #fff;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
